@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@* Acá se supone que va la política de privacidad, pero como es de mentira la dejamos piola por mientras *@
